<html>

<head>
  <title>Esra Django Girls Blog</title>
</head>

<body>
  <div>
    <h1><a href="">Esra Django Girls Blog</a><h1>
    </div>

    <div>
    <p>published: 14.10.2017, 17:35</p>
    <p> Çok heyecanlı! <p>
    <h2><a href="">İlk Blog denemem</a></h2>
  </div>

  <p>published: 14.10.2017, 17:40 </p>
  <p> Merhaba!</p>
  <div>
  <p> Zor oldu ama sonunda çalıştı! Ben bu girişim ile django ve python kullanmayı öğrenmeye çabalıyorum. Şimdilik elimden gelen budur.</p>
</div>

<div>
  <h2><a href="">Haber linkleri</a></h2>
</div>


</body>
  </html>
